*{
    box-sizing: border-box;
}
/** Header **/
header{
    background-color: #BFBAB9;
    width: 100%;
    height: 70px;
    border-bottom: 2px solid black;
}
#width-container{
    width:100%;
    height: 65px;
}
#style-navbar{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    width:100%;
    left:30px;
}
/** End Header **/

/** Home Page**/
body{
    margin: 0px;
    padding: 0px;
    background-color:#F8F8FF;
}
h2{
    line-height: 150px;
    font-size: 40px;
    font-weight: bold;
}
section{
    width: 100%;
    height: 150px;
}
.style-div{
    background-color: #BFBAB9;
    border: 1px solid black;
    margin-top:10px;
    margin-bottom: 10px;
    text-align: justify;
}
.style-div h3{
    text-align: center;
    font-weight: bold;
}
.row{
    margin:15px;
    display: flex;
    justify-content: space-around;
}
#auto-heigth{
    height: auto;
}
/**End Home Page**/

/** Large Devices**/
@media (min-width: 1200px ){

    .col-md-4{
        width: 33%;
    }
    /** Hearder **/
    .color-ft{
        color: white;
        display:none;
    }
    /** End Header **/
}
/**End Large Devices**/

/** Mids devices**/
@media (min-width:992px) and (max-width:1200px){

    .col-sm-5{
        width:41%
    }
    .col-sm-11{
        width:91%
    }

    /** Hearder **/
    .color-ft{
        color: white;
        display:none;
    }
    /** End Header **/
}
/**End Small Devices**/

/** Small devices**/
@media(max-width:991px){

    .col-xs-11{
        width: 91%;
    }
    /** Hearder **/
    .color-ft{
        color: white;
        display:none;
    }
    /** End Header **/
}
/**End Small Devices**/

/** XXS Small devices**/
@media(max-width:991px){

    .col-xxs-11{
        width: 91%;
    }
    /** Hearder **/
    .menu-sm{
        background-color:#F8F8FF;
        color:black;
        font-weight: bold;
        border-bottom: 2px solid black;
        width: 100%;
        text-align: center;
        height: 40px;
        line-height: 40px;
    }
    .buttom-style{
        border: 1px solid black;
        position: absolute;
        right: 5%;
    }
    /** End Header **/
}
/**End Small Devices**/
